@layer base {
  :root {
    --primary: 1, 51%, 21%;
    --primary-50: 2, 59%, 41%;
    --primary-100: 13, 100%, 45%;

    --neutral-50: 0, 0%, 39%;
    --netural-100: 0, 0%, 58%;
    --neutral-200: 0, 0%, 93%;

    --box-shadow: rgba(69, 0, 0, 0.2);
    --background: hsla(0, 0%, 58%, 0.15);
    --background-gradient-1: linear-gradient(90deg, #a6302b 0%, #501b1a 100.27%);
    --background-gradient-2: linear-gradient(to bottom right, #a72f2b 0%, #501b1a 50%) bottom right / 50% 50% no-repeat,
      linear-gradient(to bottom left, #a72f2b 0%, #501b1a 50%) bottom left / 50% 50% no-repeat,
      linear-gradient(to top left, #a72f2b 0%, #501b1a 50%) top left / 50% 50% no-repeat,
      linear-gradient(to top right, #a72f2b 0%, #501b1a 50%) top right / 50% 50% no-repeat;
    --background-gradient-3: linear-gradient(to bottom right, #f2dec3 0%, #f0f0f0 50%) bottom right / 50% 50% no-repeat,
      linear-gradient(to bottom left, #f2dec3 0%, #f0f0f0 50%) bottom left / 50% 50% no-repeat,
      linear-gradient(to top left, #f2dec3 0%, #f0f0f0 50%) top left / 50% 50% no-repeat,
      linear-gradient(to top right, #f2dec3 0%, #f0f0f0 50%) top right / 50% 50% no-repeat;

    --border: 0, 15%, 87%;
  }

  .background__gradient1 {
    background: var(--background-gradient-1);
  }

  .background__gradient2 {
    background: var(--background-gradient-2);
  }

  .text__gradient1 {
    background: var(--background-gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text__gradient2 {
    background: var(--background-gradient-2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text__gradient3 {
    background: var(--background-gradient-3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
